.body{
  background-color:lightgreen;
}
.top_container{
  background-color: red;
  height: 200px;
  width:200px;
  position: relative;
  left: 400px;
}
.middle_container{
  background-color: blue;
  height: 200px;
  width:200px;
  position: relative;
  bottom: 200px;

}
.bottom_container{
  background-color: yellow;
  height: 200px;
  width:200px;
  position: relative;
  left: 200px;
  bottom: 400px;
}
